<div class="headerContainer container text-white">
    <div class="row">
        <div class="col d-flex align-items-center">SPACE SHOOTER</div>
        <div class="col d-flex justify-content-end align-items-center">username</div>
    </div>
</div>