<div class="headerContainer container text-white">
    <div class="row">
        <div class="col d-flex align-items-center">SPACE SHOOTER</div>
        <div class="col d-flex justify-content-end align-items-center">
            <% if (typeof isGamePage !== 'undefined' && isGamePage) { %>
                <a id="btnQuitGame" class="d-flex align-items-center ms-3 font-weight-bold">Quit game</a>

            <% } else { %>
                    <a href="/profile" class="d-flex align-items-center"><span>
                        <% if (typeof user !== 'undefined' && user) { %> 
                            <%= user.username %>
                            <a href="/lobby" class="d-flex align-items-center mx-2 ms-3">Lobby</a>
                        <% } %> </span></a>

                    <% if (typeof user !== 'undefined' && user) { %>
                        <a id="btnLogout" class="d-flex align-items-center ms-3 font-weight-bold">Logout</a>
                        <script src="../service/logout.js" ></script>
                    <% } %>
            <% } %>
        </div>
    </div>
</div>

